<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commonsware.cwac.colormixer.demo" android:versionCode="1" android:versionName="1.0">
  <supports-screens android:anyDensity="true"
                    android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="false" />
  <uses-sdk android:minSdkVersion="4"
            android:targetSdkVersion="11" />
    <application android:label="@string/app_name">
        <activity android:name=".ColorMixerDemo" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EditPreferences" android:label="@string/app_name">
        </activity>
        <activity android:name="com.commonsware.cwac.colormixer.ColorMixerActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
